html,body {
  height: 100%;
}
.smart-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--foreground-color);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .main-wrapper {
    flex: 1;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    touch-action: none;
  }
  .layout-footer {
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
  }
}